img {

    width: calc(100% / 3 - 20px);
}
.images {
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 768px) {

    img {
        width: 100%;
    }
   

}

@media (max-width: 990px) {
    img {
        width: calc(100% / 2 - 20px);
    }

    header {
        display: none;
    }


}
