body{
    outline: 2.5px solid rgb(180, 1, 1) ;
    background-color:#fff;
    
    border: solid black;
    margin: 30px 160px 30px 160px; /*outside the box */
    
}
head.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
.container{
    background-color: #f9eded;
    padding: 60px 90px 60px 90px;  /*inside the box */
}
h1,h2{
text-align: center;
font-family:Arial, Helvetica, sans-serif;
}
p{
    font-family:'Times New Roman', Times, serif;
}
.email{
    text-decoration: underline;
    color: rgb(8, 10, 141);
    
}
.email:hover{
    color:#9a0404
}